@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

:root {
    --purple: #4E4FEB;
    --green: #15CDCB;
    --bg-dark: #212226;
    --light-grey: #E0DEDE;

    --menu-heigth: 75px;
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    background: var(--bg-dark);
}

body, button, input, select, textarea {
    font-family: 'Poppins', sans-serif;
    color: white;
} 

h1 {
    font-size: 44px;
}

h2 {
    margin: 0;
    font-size: 24PX
}

p {
    color: var(--light-grey); 
}

button {
    background: var(--purple);
    border: 0;
    border-radius: 16px;
    padding: 8px 35px;
    color: white;
    font-weight: bold; 
}

header {
    height: calc(100vh - var(--menu-heigth));
    display: flex;
    align-items: center;
}

header .container {
    width: 50%;
    height: fit-content;
    padding: 0px 100px;
}

header .container img {
    display: none;
}

header .container h1 {
    color: var(--green);
}

header .container button {
    margin-top: 40px;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--menu-heigth);
    background: var(--bg-dark);
    padding: 0 100px;
    position: sticky;
    top: 0;
}

nav img {
    height: 45px;
}

nav ul {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

nav ul a {
    font-size: 23px;
    color: var(--green);
    text-decoration: none;
}

nav ul svg {
    display: none;
}

section {
    height: 1500px;
    background: purple;
}

/*Responsividade*/

/* small desktops */
@media (max-width: 1000px) {
    header .container {
        width: 100%;
    }

    nav ul a {
        font-size: 18px;
    }

    nav {
        padding: 0 30px;
    }
}

/* tablet */
@media (max-width: 767px) {

    header .container img {
        display: inline;
        margin-bottom: 70px;
    }

    nav img {
        display: none;
    }

    nav ul { 
    nav ul a {
        font-size: 16px;
    }
}

/* celular */
@media (max-width: 480px) {
    header .container {
        padding: 0 40px;
    }

    nav {
        position: fixed;
        width: 100%;
        bottom: 0;
        top: unset;
        padding: 0 15px;
    }

    nav ul a {
        font-size: 12px;
    }

    nav ul a svg {
        display: block;
        margin: 0 auto 10px;
    }
}
 